*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  font-family: arial;
  height: 150vh;
}

header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  padding: 20px 40px;

  transition: all 0.3s linear;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  font-weight: 600;
  font-size: 2rem;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  font-weight: 600;
  margin: 0px 14px;
}

/* Scroll Effect */
.scrollEffect {
  background-color: #000;
}

.scrollEffect nav {
  color: #fff;
}